<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }} - ClassifyMyMeds</title>
	{% else %}
	<title>ClassifyMyMeds</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div id="header">
	</div>

	<div id="content">
	{% block content %}{% endblock %}
	</div>

	<div id="footer">
		<span>Team Ruby</span>
		|
		<a rel="nofollow" target="_blank" href="https://github.com/wormtooth/pachecker">Source Code</a>
		|
		<a rel="nofollow" target="_blank" href="https://github.com/domagal9/classifymymeds">ClassifyMyMeds</a>
		|
		<a rel="nofollow" target="_blank" href="https://www.erdosinstitute.org">The Erdős Institute</a>
	</div>
</body>
</html>